<div class="container">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <div class="row">
    <div class="col-2"><p id="p1">وصل حديثا</p></div>

    <div class="col-8">
      <hr>
  </div>
    <div class="col-2">
      <button id="btn1">عرض الكل</button>
    </div>
  </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div   class="card" style="width: 12rem;">
          <img  (click)="openProductDetails()" src="../../../assets/apple.jpg" class="card-img-top" alt="...">
          <p id="pnl">عرض</p>
          <div class="card-body">
            <p class="card-text">موبايل-اتنين خط-ارت-كاميرا</p>
            <div class="stars">
              <form  action="">
                <input class="star star-1" id="star-1" type="radio" name="star"/>
                <label class="star star-1" for="star-1"></label>
                <input class="star star-2" id="star-2" type="radio" name="star"/>
                <label class="star star-2" for="star-2"></label>
                <input class="star star-3" id="star-3" type="radio" name="star"/>
                <label class="star star-3" for="star-3"></label>
                <input class="star star-4" id="star-4" type="radio" name="star"/>
                <label class="star star-4" for="star-4"></label>
                <input class="star star-5" id="star-5" type="radio" name="star"/>
                <label class="star star-5" for="star-5"></label>
              </form>
            </div>
            <p id="price">99ج.م</p>
            <a  href="#" class="btn">اضف للسله<span><i id="userIcon" class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue" class="bi bi-heart" viewBox="0 0 16 16">
              <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>
        </div>
      </div>
    </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div   class="card" style="width: 12rem;">
          <img  (click)="openProductDetails()" src="../../../assets/apple.jpg" class="card-img-top" alt="...">
          <p id="pnl2">جديد</p>
          <div class="card-body">
            <p class="card-text">موبايل-اتنين خط-ارت-كاميرا</p>
            <div class="stars">
              <form  action="">
                <input class="star star-1" id="star-1" type="radio" name="star"/>
                <label class="star star-1" for="star-1"></label>
                <input class="star star-2" id="star-2" type="radio" name="star"/>
                <label class="star star-2" for="star-2"></label>
                <input class="star star-3" id="star-3" type="radio" name="star"/>
                <label class="star star-3" for="star-3"></label>
                <input class="star star-4" id="star-4" type="radio" name="star"/>
                <label class="star star-4" for="star-4"></label>
                <input class="star star-5" id="star-5" type="radio" name="star"/>
                <label class="star star-5" for="star-5"></label>
              </form>
            </div>
            <p id="price">99ج.م</p>
            <a  href="#" class="btn">اضف للسله<span><i id="userIcon" class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue" class="bi bi-heart" viewBox="0 0 16 16">
              <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>
        </div>
      </div>
    </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div   class="card" style="width: 12rem;">
          <img  (click)="openProductDetails()" src="../../../assets/apple.jpg" class="card-img-top" alt="...">
          <p id="pnl">عرض</p>
          <div class="card-body">
            <p class="card-text">موبايل-اتنين خط-ارت-كاميرا</p>
            <div class="stars">
              <form  action="">
                <input class="star star-1" id="star-1" type="radio" name="star"/>
                <label class="star star-1" for="star-1"></label>
                <input class="star star-2" id="star-2" type="radio" name="star"/>
                <label class="star star-2" for="star-2"></label>
                <input class="star star-3" id="star-3" type="radio" name="star"/>
                <label class="star star-3" for="star-3"></label>
                <input class="star star-4" id="star-4" type="radio" name="star"/>
                <label class="star star-4" for="star-4"></label>
                <input class="star star-5" id="star-5" type="radio" name="star"/>
                <label class="star star-5" for="star-5"></label>
              </form>
            </div>
            <p id="price">99ج.م</p>
            <a  href="#" class="btn">اضف للسله<span><i id="userIcon" class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue" class="bi bi-heart" viewBox="0 0 16 16">
              <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>
        </div>
      </div>
    </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div   class="card" style="width: 12rem;">
          <img  (click)="openProductDetails()" src="../../../assets/apple.jpg" class="card-img-top" alt="...">
          <p id="pnl2">جديد</p>
          <div class="card-body">
            <p class="card-text">موبايل-اتنين خط-ارت-كاميرا</p>
            <div class="stars">
              <form  action="">
                <input class="star star-1" id="star-1" type="radio" name="star"/>
                <label class="star star-1" for="star-1"></label>
                <input class="star star-2" id="star-2" type="radio" name="star"/>
                <label class="star star-2" for="star-2"></label>
                <input class="star star-3" id="star-3" type="radio" name="star"/>
                <label class="star star-3" for="star-3"></label>
                <input class="star star-4" id="star-4" type="radio" name="star"/>
                <label class="star star-4" for="star-4"></label>
                <input class="star star-5" id="star-5" type="radio" name="star"/>
                <label class="star star-5" for="star-5"></label>
              </form>
            </div>
            <p id="price">99ج.م</p>
            <a  href="#" class="btn">اضف للسله<span><i id="userIcon" class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue" class="bi bi-heart" viewBox="0 0 16 16">
              <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>
        </div>
      </div>
    </div>


     
</div>
